<% @title = "client-side-validations test" %>

<%= test_base %>
<%= script_tag 'validateElement' %>
<%= test :validators, :form_builders, :callbacks %>

<h1 id="qunit-header"><%= @title %></h1>
<div id="jquery-version">
  jQuery version:
  <% %w{1.4.1 1.4.2 1.4.3 1.4.4 1.5 1.5.1 1.6 1.6.4}.each do |version| %>
    <%= jquery_link version %> •
  <% end %>
  <%= jquery_link 'edge' if File.exist?(settings.root + '/public/vendor/jquery.js') %>
</div>
<h2 id="qunit-banner"></h2>
<div id="qunit-testrunner-toolbar"></div>
<h2 id="qunit-userAgent"></h2>
<ol id="qunit-tests"></ol>

<div id="qunit-fixture"></div>
