<% @title = "client-side-validations test" %>

<%= test_base %>
<%= test 'validateForm', 'validateSimpleForm', 'validateFormtastic', 'validateSelector' %>
<%= test_validators %>

<h1 id="qunit-header"><%= @title %></h1>
<div id="jquery-version">
  jQuery version:
  <%= jquery_link '1.4.3' %> •
  <%= jquery_link '1.4.4' %> •
  <%= jquery_link '1.5' %> •
  <%= jquery_link 'edge' if File.exist?(settings.root + '/public/vendor/jquery.js') %>
</div>
<h2 id="qunit-banner"></h2>
<div id="qunit-testrunner-toolbar"></div>
<h2 id="qunit-userAgent"></h2>
<ol id="qunit-tests"></ol>

<div id="qunit-fixture"></div>
