<% @qunit_version = "1.11.0" %>
<!DOCTYPE html>
<html id="html">
  <head>
    <title><%= @title %></title>
    <link href="http://code.jquery.com/qunit/qunit-<%= @qunit_version %>.css" media="screen" rel="stylesheet" type="text/css" media="screen, projection" />
    <style>
      #jquery-version {
        color: #8699A4; text-align: right; font-family: sans-serif; line-height: 1;
        margin-top: -1.8em; padding: 0 2em .8em 0;
      }
      #jquery-version a { color: white; text-decoration: underline; }
    </style>

    <%= script_tag jquery_src %>
    <%= script_tag "http://code.jquery.com/qunit/qunit-#{@qunit_version}.js" %>
    <%= script_tag "/vendor/assets/javascripts/jquery_ujs.js" %>
    <%= script_tag "/vendor/assets/javascripts/rails.validations.js" %>
  </head>

  <body id="body">
    <%= yield %>
  </body>
</html>
